<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>业务运营管理系统</title>
	#parse("bgm/include.vm")
	<link rel="stylesheet" type="text/css" href="$template_url/admin/css/css.css" />
</head>

<body>
	<div class="divMain">
		<div class="divMain_chaxun">
			<div class="divMain_add_bt line_botoom">系统功能信息详情</div>
			<div class="divMain_xq_all line_botoom">
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L">&nbsp;父功能编号：</div>
	            	<div class="divMain_xq_allOne_R">$!object.parentId</div>
	            </div>
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L"><span class="color_xinghao">*</span>&nbsp;所处层级：</div>
	            	<div class="divMain_xq_allOne_R">$!object.level</div>
	            </div>
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L"><span class="color_xinghao">*</span>&nbsp;同级序号：</div>
	            	<div class="divMain_xq_allOne_R">$!object.serial</div>
	            </div>
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L"><span class="color_xinghao">*</span>&nbsp;功能名称：</div>
	            	<div class="divMain_xq_allOne_R">$!object.name</div>
	            </div>
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L"><span class="color_xinghao">*</span>&nbsp;是否菜单：</div>
	            	<div class="divMain_xq_allOne_R">#if($!object.menu == true) 是 #else 否 #end</div>
	            </div>
	            <div class="divMain_xq_allOne">
	            	<div class="divMain_xq_allOne_L">&nbsp;访问路径：</div>
	            	<div class="divMain_xq_allOne_R">$!object.actionUrl</div>
	            </div>
			</div>
	        <div class="divMain_fenye">
	        	<div class="divMain_fenyeL">
	        		<a href="javascript:history.go(-1);" class="anniu_hui100">返回</a>
	        	</div>
	        </div>
		</div>
	</div>
</body>
</html>
